@charset "utf-8";
/* Menu styling */


body {
	background-color: black;
	
	}

li .active {
background-color: #A9CCE3; 
}




li a {
	padding: 20px 20px 20px 20px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
    background-color: #efefef;
	}

li a:hover {
    background-color: #E3E3E3;
}

li .active:hover {
    background-color: #FFB092;
    
}

li {
    display: inline;
}

